@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
body {
  background: #f6f8f6;
}
header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ededed;
}
header .top {
  display: flex;
  background: #fff;
}
header .logo a img {
  width: 147px;
  height: 43px;
  padding: 18px 15px 0 20px;
}
header .middle {
  height: 80px;
  border-left: 1px solid #ededed;
  align-items: center;
  flex-grow: 1;
}
header .middle_top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ededed;
}
header .m_top1 {
  height: 42px;
  display: flex;
  line-height: 42px;
}
header .m_top1 input {
  border: none;
}
header .m_top1 input:focus {
  outline: none;
}
header .m_top1 img {
  padding: 0 10px 0 30px;
}
header .m_top2 {
  display: flex;
  width: 183px;
  height: 42px;
  padding: 0 13px;
  justify-content: center;
  line-height: 42px;
  border-left: 1px solid #ededed;
}
header .m_top2:hover {
  text-decoration: underline;
}
header .m_top2 img {
  vertical-align: middle;
}
header .m_top2 span {
  font-size: 14px;
  padding-left: 10px;
}
header .bag {
  display: flex;
  width: 124px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-left: 1px solid #ededed;
  justify-content: center;
}
header .bag a {
  font-size: 14px;
  padding-left: 10px;
}
header .bag img {
  vertical-align: middle;
  padding-right: 5px;
}
header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 37px;
}
header .menu a {
  padding-right: 20px;
  font-size: 13px;
  font-family: "Noto Sans KR Bold", sans-serif;
  font-weight: bold;
}
header .menu a:hover,
header .menu a.on {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}
.lnb {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 0;
  background: #fff;
  transition: opacity 0.5s;
  left: 0;
  z-index: 1;
}
.lnb:nth-child(6) .imgBox {
  margin-bottom: 50px;
}
/* .lnb:nth-child(7) {
  opacity: 1;
} */
.lnb .sub {
  width: 1800px;
  margin: 0 auto;
  position: relative;
  display: flex;
  /*   overflow: hidden; */
}
.lnb .sub .imgBox {
  position: relative;
  width: 250px;
  height: 250px;
}
.lnb .sub img {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 100%;
}
.lnb .sub p {
  position: absolute;
  bottom: 0;
  left: 28%;
  color: #fff;
  font-weight: bold;
}
.lnb .sub h2 {
  font-size: 14px;
  font-weight: normal;
  padding: 20px 0 0 50px;
}
.lnb .sub ul {
  padding: 15px 25px;
}
.lnb .sub ul li {
  line-height: 30px;
}
.lnb .sub ul li a {
  font-size: 14px;
  font-weight: bold;
}
.lnb .sub ul li a:hover {
  text-decoration: underline;
}
/* .lnb .sub > ul {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
} */
.lnb .sub .left > ul,
.lnb .sub .right > ul,
.lnb .sub .left_2 > ul,
.lnb .sub .right_2 > ul {
  display: flex;
}
.slider {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 792px;
  object-fit: cover;
}
.slider > div {
  opacity: 0;
  transition: 0.5s;
}
.slider > .img img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 792px;
  object-fit: cover;
}
.slider .main1 video {
  width: 100%;
  height: 792px;
  object-fit: cover;
}
.slider .main3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 792px;
  left: 0;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  z-index: 1;
}
.slider .btnCont {
  position: absolute;
  width: 100%;
  bottom: 50px;
  display: flex;
  justify-content: center;
  padding: 0 100px;
  box-sizing: border-box;
  z-index: 10;
}
.slider .btnCont li {
  width: 20%;
  bottom: 0;
  color: #fff;
  opacity: 0.5;
}
.slider .btnCont li:hover {
  transform: translateY(-37px);
  transition: 0.3s;
}
.slider .btnCont li p {
  font-size: 12px;
}
.slider .btnCont li a {
  opacity: 0;
  text-decoration: underline;
  color: #fff;
}
footer {
  width: 1410px;
  margin: 0 auto;
  border-right: 1px solid #ededed;
  border-left: 1px solid #ededed;
}
footer .fooer_top {
  height: 237px;
  padding: 20px 0;
}
footer .info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 14px;
  color: #424242;
}
footer .info ul {
  width: 272px;
  height: 107px;
  padding: 0 40px;
  margin-bottom: 30px;
}
footer .info ul li:hover {
  text-decoration: underline;
}
footer .info ul li:first-child:hover {
  text-decoration: none;
  cursor: context-menu;
}
footer .info ul li:first-child {
  padding-bottom: 10px;
}
footer .info_sub {
  height: 100px;
  padding: 0 40px;
  margin-bottom: 30px;
  font-size: 13px;
  color: #6c6c6c;
  border-bottom: 1px solid #ededed;
}
footer .under {
  width: 1410px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  height: 50px;
}
footer .ko {
  height: 50px;
  padding: 0 40px;
  font-size: 14px;
  color: #6c6c6c;
}
footer .ko span {
  cursor: pointer;
}
footer .sns {
  height: 50px;
  padding: 0 40px;
  justify-content: flex-end;
}
footer .sns a:first-child img {
  margin-bottom: 15px;
}
footer .sns a:last-child img {
  width: 35px;
  height: 50px;
}
