* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.wrap {
  position: relative;
}
header {
  width: 1920px;
  position: fixed;
  padding-top: 50px;
  display: flex;
  z-index: 101;
}
header .logo {
  position: absolute;
  width: 213px;
  height: 42px;
  left: 180px;
}
header .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .right {
  display: flex;
  position: absolute;
  right: 180px;
}
header .right .lang p {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}
header .right .lang a:hover {
  text-decoration: underline;
}
header .right .menu {
  margin-left: 40px;
}
header .right .menu img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.position-link {
  position: fixed;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
}
.position-link li a {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #0066ff;
  margin-bottom: 25px;
  border-radius: 50%;
}
.position-link li:hover a {
  background-color: #0066ff;
}
.section {
  height: 100vh;
  text-align: center;
}
.section1 .bg {
  width: 100%;
  height: 100%;
  background: url(../images/bg_W.png) center/cover;
}
.section1 .bg .sam {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.section1 .bg .sam img {
  width: 232px;
  height: 600px;
  object-fit: cover;
}
.section .bg .txt {
  position: relative;
  top: 150px;
}
.section .bg .t1 {
  animation-name: fadeindown;
  animation-delay: 0.1s;
  animation-duration: 1s;
}
.section .bg .t2,
.section .bg .t3 {
  opacity: 0;
}
@keyframes fadeindown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.section1 .bg .txt p:first-child {
  color: #0066ff;
  font-size: 30px;
  font-weight: bold;
}
.section1 .bg .txt p:last-child {
  color: #777777;
  font-size: 18px;
}
.section1 .bg .maintxtImg,
.section2 .bg .maintxtImg,
.section3 .bg .maintxtImg {
  position: relative;
  top: 25%;
}
.section .bg .maintxtImg img {
  position: relative;
}
.section1 .bg .maintxtImg img:last-child,
.section2 .bg .maintxtImg img:last-child,
.section3 .bg .maintxtImg img:last-child {
  margin-top: 20px;
  z-index: 100;
}
.section2 .bg {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/bg_B.png) center/cover;
}
.section2 .bg .txt,
.section3 .bg .txt {
  color: #fff;
}
.section2 .bg .txt p:first-child,
.section3 .bg .txt p:first-child {
  font-size: 30px;
  font-weight: bold;
}
.section2 .bg .txt p:last-child,
.section3 .bg .txt p:last-child {
  font-size: 18px;
}
.section2 .bg .more,
.section3 .bg .more {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.section2 .bg .more a {
  width: 166px;
  height: 53px;
  display: inline-block;
  background: url(../images/btn_bg2.png) no-repeat;
  color: #fff;
  line-height: 53px;
}
.section3 .bg .more a {
  width: 166px;
  height: 53px;
  display: inline-block;
  background: url(../images/btn_bg3.png) no-repeat;
  color: #fff;
  line-height: 53px;
}
.section2 .bg .more:hover a,
.section3 .bg .more:hover a {
  text-decoration: underline;
}
.section3 .bg {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/bg_G.png) center/cover;
}
#section4 {
  height: 1280px;
}
.section4 .bg {
  height: 100%;
  background: url(../images/bg4.jpg) no-repeat center bottom;
}
.section4 .bg .txt {
  position: relative;
  top: 180px;
  margin-bottom: 350px;
  opacity: 0;
}
.section4 .bg .txt h2 {
  font-size: 37px;
  font-weight: lighter;
  color: #2d2d2d;
  margin-bottom: 15px;
}
.section4 .bg .txt h2 strong {
  color: #0066ff;
}
footer {
  position: relative;
  width: 1543px;
  height: 192px;
  padding: 50px 180px;
  background: #000;
}
footer .footerTop {
  display: flex;
  justify-content: space-between;
}
footer .footerTop .txt {
  display: flex;
  margin-bottom: 30px;
}
footer .footerTop .txt li a:hover {
  text-decoration: underline;
}
footer .footerTop .txt li a {
  margin-right: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
footer .footerTop .sns {
  display: flex;
}
footer .footerTop .sns li {
  margin-left: 20px;
}
footer .footerTop .sns li img {
  width: 42px;
  height: 42px;
  object-fit: cover;
}
footer .copy {
  color: #fff;
}
footer .copy li:first-child {
  font-size: 12px;
  margin-bottom: 5px;
}
footer .copy li:last-child {
  font-size: 16px;
  margin-bottom: 50px;
}
footer .logo_f {
  text-align: center;
}
footer .logo_f img {
  width: 213px;
  height: 42px;
}
footer .scroll {
  position: absolute;
  right: 60px;
  top: 25%;
  animation: scroll 1.1s linear 0s infinite alternate;
}
@keyframes scroll {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(10px);
  }
}
